aider-chat
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anthropic
anyio
attrs
backoff
beautifulsoup4
cachetools
certifi
cffi
charset-normalizer
click
ConfigArgParse
diff-match-patch
diskcache
distro
dnspython
fastapi
filelock
flake8
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grep-ast
grpcio
grpcio-status
h11
hf-xet
httpcore
httplib2
httpx
huggingface-hub
idna
importlib_metadata
importlib_resources
iniconfig
Jinja2
jiter
json5
jsonschema
jsonschema-specifications
litellm
markdown-it-py
MarkupSafe
mccabe
mdurl
mixpanel
motor
mslex
multidict
networkx
numpy
openai
oslex
packaging
pathspec
pexpect
pillow
pluggy
posthog
prompt_toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pyasn1
pyasn1_modules
pycodestyle
pycparser
pydantic
pydantic_core
pydub
pyflakes
Pygments
pymongo
pypandoc
pyparsing
pyperclip
pytest
python-dateutil
python-dotenv
PyYAML
referencing
regex
requests
rich
rpds-py
rsa
scipy
setuptools
shtab
six
smmap
sniffio
socksio
sounddevice
soundfile
soupsieve
starlette
tiktoken
tokenizers
tqdm
tree-sitter
tree-sitter-c-sharp
tree-sitter-embedded-template
tree-sitter-language-pack
tree-sitter-yaml
typing-inspection
typing_extensions
tzlocal
uritemplate
urllib3
watchfiles
wcwidth
wheel
yarl
zipp
